---

- lineinfile:
      dest: "{{ home }}.zshrc"
      state: present
      line: "{{ zsh_init_div }}"
  become: false

- name: Install zsh Powerline Theme
  get_url:
    url: "{{ zsh_powerline_url }}"
    dest: "{{ roles_dir }}/zsh/files/{{ zsh_powerline_file }}"
    mode: 0644
    force: yes
    backup: yes
  ignore_errors: true
  become: false

- lineinfile:
      dest: "{{ home }}.zshrc"
      state: present
      line: "{{ zsh_powerline_div }}"
  become: false

- file:
    src: "{{ roles_dir }}/zsh/files/{{ zsh_powerline_ap_file }}"
    dest: "{{ home }}{{ zsh_powerline_ap_file }}"
    state: link
    owner: "{{ user_name }}"
    group: "{{ user_group }}"
    mode: 0644
    force: yes
  become: false

- file:
    path: "{{ home }}.zshrc"
    state: touch
    owner: "{{ user_name }}"
    group: "{{ user_group }}"
    mode: 0644
  become: false

- lineinfile:
      dest: "{{ home }}.zshrc"
      state: present
      line: "{{ zsh_powerline_source }}"
  become: false
