<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	    <key>Label</key>
	    <string>MacSpoof</string>

	    <key>ProgramArguments</key>
	    <array>
	    	<string>bash</string>
	    	<string>-c</string>
	    	<string>{{ homebrew_prefix }}/bin/spoof-mac.py randomize en0; {{ homebrew_prefix }}/bin/spoof-mac.py randomize en1; {{ homebrew_prefix }}/bin/spoof-mac.py randomize en2; {{ homebrew_prefix }}/bin/spoof-mac.py randomize en4</string>
	    </array>

	    <key>RunAtLoad</key>
	    <true/>
</dict>
</plist>
